{% extends 'base.html'%}
{% load static %}

{% block content%}
<body class="theme-dark">
  <!-- Preloader-->  <!-- Home site start -->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span>
        <span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="/">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="{% static 'img/logoDW.png' %}" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button">
      <span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url({% static 'img/home.jpg' %})">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Krzysztof <span>Żak <h1>DiddyChriss</h1></span></h1>
          <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline">
            <b class="is-visible">Python Developer</b><b>Full-Stack</b><b>Web Developer</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Languages list-->
      <div class="fixed-block block-left">
        <ul class="list-unstyled languages-list">
          <li><a href="#0"><span class="single-language"></span></a></li>
          <li><a href="#0"><span class="single-language"></span></a></li> <!-- language website -->
        </ul>
      </div>
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.linkedin.com/in/krzysztof-%C5%BCak-4a019512a?trk=people-guest_people_search-card">
            <i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/DiddyChriss"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.facebook.com/ridelectricKRK/"><i class="icon ion-logo-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Home Site End -->
<!-- start About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail"
                                                           src="{% static 'img/about/port1.png' %}" alt="About Picture">
                </div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am I?</h2>
                    <h6 class="content-title">My name is Krzysztof Żak, also know as DiddyChriss</h6>
                     <h6>Python Developer (Full-Stack Web Developer)</h6>
                    <div class="content-description">
                      <p>I’m a motivated entrepreneur and dedicated worker with a passion for development. Check the
                        'About' tab to learn a bit more about me, and see the 'Projects' tab to find out what I’m up
                        to currently! My skill set is always "work in progress", but have a look at the 'Skills' page
                        and - who knows - I may be the employee or working partner that you’re looking for. The
                        'Contact' page will tell you how to get in touch if you have questions or want to collaborate.
                        I'm looking forward to hearing from you!</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Krzysztof Żak</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="diddychriss@gmail.com">diddychriss@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>33</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Kraków, PL</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center">
                      <a class="btn content-download button-main button-scheme"
                         href="/contact/" role="button">Contact Me</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item">
                          <a href="https://www.linkedin.com/in/krzysztof-%C5%BCak-4a019512a?trk=people-guest_people_search-card">
                            <i class="icon ion-logo-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item"><a href="https://github.com/DiddyChriss">
                          <i class="icon ion-logo-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/ridelectricKRK/">
                          <i class="icon ion-logo-facebook"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services section-->
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description"></p>
                    <h2 class="section-title">Achievements and Aspirations</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="single-service" >
                    <img style="padding: 0px 0px 40px 0px;" src="{% static 'img/about/p1.png' %}">
                    <h6 class="service-title">Python Developer</h6>
                    <p class="service-description">Coding is my first passion and I’m looking for job opportunities in
                      a Full Stack Web Developer position. My strongest ability - and the one I prefer most - is
                      Back-End development, while my Front-End skills are a good addition to my overall Web Dev
                      abilities, in which I operate freely.</p>
                    <p>I’m confident that I can handle every coding job position within the Web Dev area, and with
                      pleasure. I systematically work on improving my skills, not only in areas needed for versatile
                      work, but most importantly in Python Coding (class, libraries, etc.).</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="single-service" >
                    <a  href="https://www.ridelectric.pl/">
                      <img style="padding: 0px 0px 40px 0px;" src="{% static 'img/about/l1.png' %}" >
                  </a>
                    <h6 class="service-title">ridelectric.pl</h6>
                    <p class="service-description">I am also an entrepreneur and the owner of the ridelectric.pl brand.
                      My hobby is Electromobility (EV) and Renewable Energy Sources (RES). My first commercial project
                      is the website ridelectric.pl with a web store for EV and Pv products, all built in Python-Django.
                    </p>
                    <p>I also manage a fun page for ridelectric.pl on Facebook (link bellow), by providing news about
                      local infrastructure, specific charging points and global news on the EV and Photovoltaic (PV)
                      subjects.
                    </p>
                    <p>My interest and involvement in the EV and RES enviroment go hand in hand with my current passion
                      for coding and I’m hoping to get involved in a project that will become a denominator of those two
                      interest points, and will allow me to utilize my knowledge and programming skills, as well as to
                      further contribute to the development of Electromobility and Renewable Energy Sources.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">Checkout My Fam</p>
                    <h2 class="section-title">DiddyChriss</h2>
                  </div>
                </div>
              </div>
              <div class="my-slider">
                <div class="slider-item">
                  <!-- Single review-->
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <img class="img-fluid rounded-circle" src="{% static 'img/about/about2.png' %}">
                          <div class="client-details">
                            <h6 class="client-name">On a road..</h6>
                          </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <img class="img-fluid rounded-circle" src="{% static 'img/about/about3.png' %}">
                          <div class="client-details">
                            <h6 class="client-name">knock knock..</h6><span class="client-role">Who's there?!</span>
                          </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                  </div>
                </div>
                  <div class="slider-item">
                  <!-- Single review-->
                  <div class="single-review swiper-slide">
                    <div class="review-header d-flex justify-content-between">
                      <div class="review-client">
                        <img class="img-fluid rounded-circle" src="{% static 'img/about/about4.png' %}">
                          <div class="client-details">
                            <h6 class="client-name">Tough day..</h6>
                          </div>
                      </div><i class="icon ion-md-quote review-icon"></i>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- skills lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Skills</p>
                  <h2 class="section-title">Skills</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">My level of knowledge in some tools</p>
                    <h2 class="section-title">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="76">
                    <div class="skill-info row">
                      <span class="skill-name" style="padding: 0px 0px 0px 16px;">
                        <h5>Programming Language:</h5><h4>Python</h4></span>
                      <span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="31">
                    <div class="skill-info"><span class="skill-name"><h5>Database:</h5><h4>MySQL</h4></span>
                      <span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="15">
                    <div class="skill-info"><span class="skill-name"><h5>Familiar with:</h5><h4>JavaScript</h4></span>
                      <span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div>
                    <h5>Version Control System:</h5><h4>Git & GitHub</h4>
                    <h5 style="padding: 30px 0px 0px 0px;">Favorite Tools:</h5>
                    <h4 style="padding: 0px 0px 30px 0px;">PyCharm Repl.it Sublime Text</h4>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="61">
                    <div class="skill-info">
                      <span class="skill-name"><h5>Web framework:</h5><h4>Python Django</h4></span>
                      <span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="49">
                    <div class="skill-info">
                      <span class="skill-name"><h5>Familiar with:</h5> <h4>HTML/CSS</h4> </span>
                      <span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Job Skills</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">Strong problem solving skills</h6>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">Excellent communication and analytical skills</h6>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">Excellent teamwork skills</h6>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience"  style="padding: 50px 0px 0px 0px;">
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">Highly organized</h6>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">Quick learning skills</h6>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h6 class="item-title">English B2</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
{% endblock %}